---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  external?: boolean;
  download?: string;
  ariaLabel?: string;
}

const {
  href,
  variant = 'primary',
  external = false,
  download,
  ariaLabel,
} = Astro.props;
---

<a
  class:list={['button-link', `button-link--${variant}`]}
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noreferrer noopener' : undefined}
  download={download}
  aria-label={ariaLabel}
>
  <slot />
  {
    external && (
      <>
        <span aria-hidden="true">↗</span>
        <span class="sr-only"> (opens in a new tab)</span>
      </>
    )
  }
</a>
