---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  external?: boolean;
}

const { href, variant = 'primary', external = false } = Astro.props;
---

<a
  class:list={['button-link', `button-link--${variant}`]}
  href={href}
  target={external ? '_blank' : undefined}
  rel={external ? 'noreferrer noopener' : undefined}
>
  <slot />
  {
    external && (
      <>
        <span aria-hidden="true">↗</span>
        <span class="sr-only"> (opens in a new tab)</span>
      </>
    )
  }
</a>
